logs
project/project
project/target
conf/devEnv.conf
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
/node_modules

#ruby
.bundle

#OS X
.DS_Store

#
# VueJs
#
vui/node_modules
vui/.DS_Store
vui/dist
# local env files
vui/.env.local
vui/.env.*.local
# Log files
vui/npm-debug.log*
vui/yarn-debug.log*
vui/yarn-error.log*